<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/user-create}" th:object="${user}" method="post">
    <label for="login">Login</label>
    <input type="text" th:field="*{login}" id="login" placeholder="Login">
    <br/>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <br/>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <br/>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <br/>
    <label for="lastName">Last Name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
    <br/>
    <label for="birthdate">Birthdate</label>
    <input type="text" th:field="*{birthdate}" id="birthdate" placeholder="Birthdate">
    <br/>
    <label for="phone">Phone</label>
    <input type="text" th:field="*{phone}" id="phone" placeholder="Phone">
    <br/>
    <input type="submit" value="Create user">
</form>
</body>
</html>